<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>My Project</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body ng-app="todoApp">
  <div class="site-wrapper">
      <div class="cover-container">
        <div class="masthead">
          <div class="inner">
            <h3 class="masthead-brand">
            {% if user.is_authenticated %}
              <p>Welcome, {{ user.username }}!</p>
            {% else %}
              <p>Welcome, guest!</p>
            {% endif %}
            </h3>
            <nav>
              <ul class="navbar masthead-nav">
              </ul>
            </nav>
          </div>
        </div>
        {% verbatim %}
        <div class="inner cover" ui-view>
        </div>
        {% endverbatim %}

        <div class="mastfoot">
          <div class="inner">
            <!--<p><a href="http://getbootstrap.com">Bootstrap</a></p>-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/static/bower_components/jquery/dist/jquery.js"></script>
  <script src="/static/bower_components/jquery-ui/jquery-ui.js"></script>
  <script src="/static/bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/static/bower_components/angular/angular.js"></script>
  <script src="/static/bower_components/angular-bootstrap/ui-bootstrap.js"></script>
  <script src="/static/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="/static/bower_components/angular-resource/angular-resource.js"></script>
  <script src="/static/bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="/static/bower_components/angular-ui-sortable/sortable.js"></script>
</body>